*.iml
.gradle
.idea/
/local.properties
.DS_Store
/build
/captures
bin/
gen/
build.xml
target/
pom.xml.*
release.properties
.classpath
.project
.externalToolBuilders/
*.ipr
*.iws
out/
.DS_Store
.gradle/
signing.properties